{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block custom_css %}
<style>
    .attendance_div_red {
        padding: 10px;
        background: #f44336;
        border: 3px solid white;
        text-align: center;
        color: #fff;
        border-radius: 30px;
        box-shadow: 1px 1px 1px grey;
        margin: 5px;
    }

    .attendance_div_green {
        padding: 10px;
        background: #4CAF50;
        border: 3px solid white;
        text-align: center;
        color: #fff;
        border-radius: 30px;
        box-shadow: 1px 1px 1px grey;
        margin: 5px;
    }
</style>
{% endblock custom_css %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">


                        <form method="post">
                            <div class="form-group col-lg-6">
                                <label>Extracurricular Activities</label>

                                <select id="" name="Extra_act" class="form-control">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">



                                    <div class="form-group">
                                        <label>Hours Studied</label>
                                        <input type="text" class="form-control" placeholder="Number between 1-10"
                                            name="Hours_Studied" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Previous Scores</label>
                                        <input type="text" class="form-control" placeholder="Number between 1-100"
                                            name="Previous_Scores" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Sleep Hours</label>
                                        <input type="text" class="form-control" placeholder="Number between 1-10"
                                            name="Sleep_Hours" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Sample Question Papers Practiced</label>
                                        <input type="text" class="form-control" placeholder="Number between 1-10"
                                            name="spq_Practiced" required>
                                    </div>


                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Fetch
                                    Result</button>
                        </form>
                    </div>


                </div>
                <!-- /.card-body -->

                <div class="card-footer">

                    <div class="row" id="attendance_data">
                        <h3> {{msg}}</h3>
                    </div>
                </div>
            </div>
            <!-- /.card -->

        </div>
    </div>
    </div>
</section>
{% endblock content %}


{% block custom_js %}
<script>

</script>
{% endblock custom_js %}